.modal-dialog
  .modal-content
    .modal-header
      %h1 New type
    = simple_form_for type , class: 'clearfix' do |f|
      .modal-body
       
        = f.input :name
      .modal-footer
        = f.submit 'Save' , class: 'btn btn-primary'
        
