#departments-list.container
  = render partial: 'departments/department_list', locals: {departments: @departments}
#department_modal.modal.fade{:role => "dialog", :tabindex => "-1"}
            
            