= render 'types/jumbotron'
        
.container 
  - if @types.blank?
    %span.text-warning There are no tasks!
  - else 
    %table.table.table-hover.table-bordered
      %thead
        %tr
          %th Problem type
         
      %tbody
        - @types.each do |type|
          %tr
            
            %td.text-danger= type.problem_name
            
            
#type_modal.modal.fade{:role => "dialog", :tabindex => "-1"}
            
            